:root {
	--brand-color: #3CB35A;
	--dark-color: #03012C;
	--mid-color: #635E79;
	--light-color: #FFFFFF;
	  }

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

/*-----------------------------------------------------------------navbar-*/

#navbar .fas {
	color: var(--brand-color);
}

#navbar .btn {
	color: var(--light-color);
	background: var(--brand-color);
}

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
	margin: auto 0.5rem;
	color: var(--brand-color);
	font-size: 1.25rem;
	font-weight: 500;
}

/* .dropdown-toggle::after {
    display: none !important;
} */

/*-------------------------------------------------------------------hero-*/

#hero .btn {
	color: var(--light-color);
	background: var(--brand-color);
}

.hero-left {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
}

.hero-right {
	height: 275px;
	padding-left: 0;
	padding-right: 0;
	border: 1px solid green;
}

.hero-text {
	width: 80%;
	border: 1px solid blue;
}

.hero-text h2,
.hero-text h5 {
	margin-bottom: 1rem;
}

.hero-image {
	background: url("../../assets/image/hero.png") no-repeat center center;
	height: 100%;
	width: 100%;
	background-size: auto;
}

/*----------------------------------------------------------------reasons-*/

.reasons-icon {
	color: var(--brand-color);
	font-size: 3.25rem;
}

/*----------------------------------------------------------------courses-*/

.course-image-container {
	height: 10rem;
	width: 100%;
}

.course-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.course-description-container {
	height: 12rem;
	background: #F5F5F5;
}

/*---------------------------------------------------------------register-*/

#register {
	min-height: 9rem;
	background: var(--dark-color);
	opacity: 0.8;
}

#firstname,
#emailaddress {
	width: 20rem;
}

#contactForm {
	border: 1px solid green;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

/*-----------------------------------------------------------------bottom-*/

#bottom {
	height: 12rem;
	background: var(--mid-color);
}

#bottom ul {
	list-style: none;
	padding: 0;
}

/*-----------------------------------------------------------------footer-*/

#footer {
	height: 6rem;
	display: flex;
	align-items: center;
	background: var(--dark-color);
}

.social-media-icon {
	margin-right: 1.5rem;
	font-size: 1.25rem;
}