.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}



.hero-left {
	display: flex;
	align-items: center;
}

.hero-right {
	height: 350px;
	padding-left: 0;
	padding-right: 0;
}

.hero-image {
	background: url("../../assets/image/hero.png") no-repeat center center;
	height: 100%;
	width: 100%;
	background-size: auto;
}



.course-image-container {
	height: 10rem;
	width: 100%;
	border: 1px solid black;
}

.course-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}